<h1>Welcome to GameOfThrones.com</h1>
<h2>Login Here</h2>
<form action="/users/login" method="POST">
  <input name="email" placeholder="Email"/>
  <input name="password" placeholder="Password" type="password"/>
  <button>Submit</button>
</form>
